<div class="jumbotron">
    <h1>Panel administratora</h1>
    <p class="lead">Panel służący do dodawania nowych obiektów, wydarzeń oraz adresów. Istnieje możliwość ich edycji i usuwania.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Więcej &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Dodawanie obiektów</h2>
        <p>Można kulturalnie dodawać nowe obiekty do bazy danych</p>
        <p><a class="btn btn-default" href="">Więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Usuwanie obiektów</h2>
        <p>Mozna kulturalnie usuwać obiekty</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Edycja obiektów</h2>
        <p>Można kulturalnie usuwać obiekty z bazy</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Więcej &raquo;</a></p>
    </div>
</div>
